.border{
    border: 1px solid black;
}

.toolbarCustom{
    background-color: rgb(33, 185, 243) !important;
    min-height: 0px;
}

.heightAuto{
    height: auto;
}

.hiddenContent{
    display: none;
}